@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
}

#output {
  padding: 20px;
  text-align: center;
}

#bingo-card {
  width: 50%;
  display: flex;
}

#task-input {
  display: block;
}
